{:paths ["src"]
 :deps {
        io.github.kotoba-lang/walk-walk
        {:git/url "https://github.com/kotoba-lang/walk-walk.git"
         :git/sha "9a00daed8a94045177bf8355110a2cb2d02d954c"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
